PORT=5000
NODE_ENV=development
MONGODB_URI=
JWT_SECRET=
JWT_2FA_TEMP_SECRET=
JWT_REFRESH_SECRET=

# Redis
REDIS_URL=redis://localhost:6379
FRONTEND_URL=http://localhost:3000


#Email
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
GMAIL_USER=
GMAIL_APP_PASS=
RESEND_API_KEY=

#Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

#Admin Email&Pass
ADMIN_EMAIL=admin@mycalo.com
ADMIN_PASSWORD=Admin@123

#Ai Apis
GEMINI_API_KEY1=
GEMINI_API_KEY2=
GEMINI_API_KEY3=
GEMINI_API_KEY4=
GEMINI_API_KEY5=
GROQ_API_KEY=

CORS_ORIGIN=http://localhost:3000

COOKIE_SECRET=
